*{
    scroll-behavior: smooth;
}

.Hero-Section-bgsection{
    position: relative;
    box-sizing: border-box;
    width: 93rem;
    height: 35rem;
    margin-left: -1rem;
    z-index: -2;
    top: 5rem;
}

.Hero-Section-bg{
    width: 100%;
    height: 100%;
}

.Hero-Section-main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40rem;
    left: 25rem;
    top: -23rem;
}

.Hero-Section-main_1{
    display: flex;
    width: 39rem;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    color: red;
    font-family: Inter;
    font-size: 41px;
    font-style: normal;
    font-weight: 800;
    line-height: 65px; /* 130% */
}

.Hero-Section-main_2{
    width: 51rem;
    height: 8rem;
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 184.235% */
    margin-top: 2rem;
}

.Hero-Section-main_3{
    position: relative;
    top: 3rem;
    width: 13rem;
    height: 3rem;
    z-index: 10;
    padding: 10px 19.45px 9.98px 20px;
    border-radius: 6px;
    background: #D21E2B;
}

.Hero-Section-main_3__btn{
    position: relative;
    width: 12rem;
    left: -0.5rem;
    color: white;
    font-family: Inter, fangsong;
    font-size: 1rem;
}

