.contact-section{
    position: relative;
    top: -17rem;
    left: 0rem;
    align-items: center;
    width: 100%;
    height: 14rem;
    justify-content: center;
}

.contact-section>p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-title{
    color: black;
    /* Display xl/Semibold */
    font-family: serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
}

.contact-section-subtitle{
    color: #818080;
    position: relative;
    bottom: 1rem;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
    margin-bottom: -1rem;
}

.image_back{
    display: flex;
    position: relative;
    z-index: -19;
    width: 88rem;
    height: 31rem;
}

.contact-cards{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    position: relative;
    top: -12rem;
}

.contact-card1,.contact-card2,.contact-card3,.contact-card4{
    border: 2px solid rgba(107, 107, 107, 0.10);
    padding: 5rem 4rem;
    border-radius: 20px;
    transition: box-shadow 0.3s;
}

.card1_det{
    position: relative;
    top: 4rem;
    left: -1rem;
    text-align: left;
}

.card1_det_para1{
    margin: 0rem 0rem;
    color: black;
    font-family: serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.2px;
}

.card1_det_para2{
    margin: 1.4rem 0rem;
    color: #818080;
    position: relative;
    bottom: 1rem;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
    margin-bottom: -1rem;
}

.card1_det_para3{
    margin: 0rem 0rem;
    margin-top: 1rem;
    color: black;
    font-family: serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.2px;
}

.card1_det_para3:hover{
    cursor: pointer;
    text-decoration: underline;
}

.contact-card1:hover,.contact-card2:hover,.contact-card3:hover,.contact-card4:hover{
    box-shadow: -16px 20px 10px rgb(0 0 0 / 0.2);
}

.map{
    position: relative;
    left: 1rem;
    top: 6rem;
    width: 89rem;
    height: 40rem;
    border: 2px dotted black;
}